@model StudentBazaar.Web.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h2 class="mt-3">Edit Product</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId"></label>
        <input asp-for="CategoryId" class="form-control" />
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StudyYearId"></label>
        <input asp-for="StudyYearId" class="form-control" />
        <span asp-validation-for="StudyYearId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
